<div class="p-4">
  <h1>Stupid Coaching</h1>
  <br>
  <div class="message">
    <p class="mb-0"><%= params[:question] %></p>
    <em>-You</em>
  </div>
  <br>
  <div class="message">
    <p class="mb-0"><strong><%= @answer %></strong></p>
    <em>-Your coach</em>
  </div>
  <br>
  <%= link_to "Ask your coach", ask_path %>
</div>

